#profile {
  flex: 1;
  padding: 20px;
  display: flex;
  position: relative;
  flex-direction:column;
  overflow-y: auto;
}

#profile-form {

}

#profile-form-inputs {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 760px) {
  #profile-form-inputs {
    flex-direction: column;
  }
}