#login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 760px) {
  #login-form {
    flex-direction: column;
  }
}